<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MapTypesManagerSetting" type="System.Configuration.NameValueSectionHandler" />
    <section name="MapTypesFilePathSetting" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <MapTypesManagerSetting>
    <add key="Borders" value="界河"/>
    <add key="Lakes" value="湖泊" />
    <add key="Islands" value="岛屿" />
    <add key="BoundaryLines" value="边界线"/>
  </MapTypesManagerSetting>
  <MapTypesFilePathSetting>
    <add key="Borders" value="E:\work items\MapTool_WPF\MapTool_WPF\MapLocationFiles\Borders\"/>
    <add key="Lakes" value="E:\work items\MapTool_WPF\MapTool_WPF\MapLocationFiles\Lakes\"/>
    <add key="Islands" value="E:\work items\MapTool_WPF\MapTool_WPF\MapLocationFiles\Islands\"/>
    <add key="BoundaryLines" value="E:\work items\MapTool_WPF\MapTool_WPF\MapLocationFiles\BoundaryLines\"/>
  </MapTypesFilePathSetting>

</configuration>